# Notebook to select host galaxies and submit candidates to TNS

In [1]:
import sys, os
import pandas as pd
import numpy as np
import ipyaladin as ipyal
from ipywidgets import Layout, Box, widgets
import json
import time
import pickle

In [2]:
from astroquery.ned import Ned
from astroquery.simbad import Simbad
from astroquery.vizier import Vizier
import astropy.units as u
from astropy.table import Table, Column

In [3]:
sys.path.append("./lib")
from alerce_tns import *

In [4]:
from delight.delight import Delight

In [5]:
# continuously load modules (for easier debugging)
%load_ext autoreload
%autoreload 2

# Start API

In [6]:
alerce = alerce_tns()

# Load recent candidates

**WARNING: CHECK THE DATE**

In [7]:
refstring = "20220716"
candidates_dir = "candidates"
candidates = open("%s/%s.csv" % (candidates_dir, refstring), encoding='utf-8-sig').read().splitlines()
if "" in candidates:
    candidates.remove("") 
candidates = np.sort(np.unique(np.array([cand.strip() for cand in candidates])))
print(candidates, len(candidates))

['ZTF22aapuazu' 'ZTF22aarycqo' 'ZTF22aasvuof' 'ZTF22aasxgjp'
 'ZTF22aasxnjm' 'ZTF22aatgiuw' 'ZTF22aatgjnu' 'ZTF22aatkeyf'
 'ZTF22aatlqxr' 'ZTF22aatnyqk' 'ZTF22aatrbvj' 'ZTF22aatrnbl'
 'ZTF22aatrpse' 'ZTF22aatrujl' 'ZTF22aatrzyq' 'ZTF22aatsbjo'
 'ZTF22aatsdyx' 'ZTF22aatsfly' 'ZTF22aattadv' 'ZTF22aattzza'
 'ZTF22aatunnt' 'ZTF22aatuxpc' 'ZTF22aatvbyz' 'ZTF22aatvkqs'] 24

In [8]:
stats = alerce.query_objects(oid=candidates, format='pandas', page_size=len(candidates))
delight_datadir = "delight_data"
dclient = Delight(delight_datadir, candidates, stats.meanra.to_numpy(), stats.meandec.to_numpy())
dclient.download()
dclient.get_pix_coords()
dclient.compute_multiresolution(nlevels=5, domask=False, doobject=True, doplot=False)
model_dir = "/home/fforster/Dropbox/Work/DELIGHT/data/model"
model_name = "DELIGHT_v1.h5"
dclient.load_model(model_dir, model_name)
print("Preprocessing")
dclient.preprocess()
print("Predicting")
dclient.predict()

Downloading 0 missing files.
Loading WCS information
Preprocessing
Predicting

In [9]:
#for oid in candidates:
#    dclient.plot_host(oid)

# Select host galaxies using aladin widget

## Do automatic selection

In [10]:
bestguess = dclient.df[["ra_delight", "dec_delight"]].rename({"ra_delight": "ra", "dec_delight": "dec"}, axis=1)
alerce.bestguess = bestguess

In [11]:
alerce.select_hosts(candidates, refstring, ned=True, simbad=True, catsHTM=False, vizier=False)

Loading and skipping already saved hosts...
hosts/20220716_hosts.csv
Cannot load galaxy information, creating new information.

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '1:05:42.656 -0:53:20.6534': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aapuazu,SDSS J010542.66-005320.8,16.42774,-0.889133,0.159994,0.225378,0.132016,SDSSDR16,False,0.143959,0.028953,photoz

23 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aarycqo,NGC 0662,26.14771,37.69578,6.244514,1.021242,5.408775,NED,True,0.01886,NaN,

22 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aasvuof,MCG-02-57-009,337.5575887499999,-10.505261666666666,3.082659,0.733618,3.00576,Simbad,True,0.03537,NaN,D

21 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aasxgjp,SDSS J150913.16+523142.3,227.304839,52.528432,50.58539,1.973474,48.672158,SDSSDR16,True,0.011695,0.000008,specz

20 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '17:22:34.586 -3:07:14.2814': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

WARNING: closest crossmatch is too far from the predicted position. No catalog crossmatches found.

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aasxnjm,WISEA J172234.79-030706.6,260.64498,-3.11852,8.212161,8.229303,0.038111,NED,False,NULL,NULL,NULL
ZTF22aasxnjm,WISEA J172233.91-030715.8,260.64133,-3.12108,10.153478,10.115493,0.038111,NED,False,NULL,NULL,NULL
ZTF22aasxnjm,WISEA J172233.88-030702.9,260.64118,-3.11749,15.479701,15.455968,0.038111,NED,False,NULL,NULL,NULL
ZTF22aasxnjm,WISEA J172235.42-030731.1,260.64773,-3.12528,21.174917,21.195888,0.038111,NED,False,NULL,NULL,NULL
ZTF22aasxnjm,WISEA J172235.45-030657.1,260.64773,-3.11588,21.477141,21.502489,0.038111,NED,False,NULL,NULL,NULL
ZTF22aasxnjm,WISEA J172234.08-030649.2,260.64203,-3.11368,26.132467,26.124418,0.038111,NED,False,NULL,NULL,NULL
ZTF22aasxnjm,WISEA J172236.22-030735.1,260.65093,-3.12642,32.147839,32.174863,0.038111,NED,False,NULL,NULL,NULL
ZTF22aasxnjm,WISEA J172232.27-030719.9,260.63449,-3.12221,35.075111,35.037137,0.038111,NED,False,NULL,NULL,NULL

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aasxnjm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

19 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatgiuw,SDSS J014141.16+012559.0,25.421502,1.433065,2.200036,0.79483,1.625845,SDSSDR16,False,0.042503,0.012772,photoz

18 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatgjnu,SDSS J010327.70+132629.9,15.865417,13.441649,4.779461,0.536503,5.012349,SDSSDR16,False,0.058774,0.01084,photoz

17 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatkeyf,SDSS J014604.19+071523.3,26.517452,7.256494,8.040609,0.317528,8.310296,SDSSDR16,False,0.064361,0.013219,photoz

16 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '16:23:51.6196 +25:42:54.155': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatlqxr,SDSS J162351.61+254253.8,245.965058,25.714957,3.070695,0.320908,3.050958,SDSSDR16,True,0.111711,0.000017,specz

15 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatnyqk,NGC 6201,250.06006041666666,23.765328611111112,5.775937,0.397324,6.111666,Simbad,True,0.036199,0.000037,D

14 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '4:11:57.9575 +25:53:01.6768': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatrbvj,SDSS J041157.97+255301.7,62.991536,25.883805,2.466045,0.150684,2.588424,SDSSDR16,False,0.171485,0.036822,photoz

13 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '15:05:57.4731 -24:38:23.7851': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

WARNING: closest crossmatch is too far from the predicted position. No catalog crossmatches found.

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatrnbl,WISEA J150558.05-243825.9,226.49194,-24.64058,8.735909,8.400439,1.811666,NED,False,NULL,NULL,NULL
ZTF22aatrnbl,WISEA J150556.38-243804.8,226.48495,-24.63469,24.994103,24.002626,1.811666,NED,False,NULL,NULL,NULL
ZTF22aatrnbl,WISEA J150555.38-243823.1,226.48137,-24.63981,25.962763,26.512724,1.811666,NED,False,NULL,NULL,NULL
ZTF22aatrnbl,WISEA J150559.53-243825.1,226.49806,-24.64032,28.742544,28.137711,1.811666,NED,False,NULL,NULL,NULL
ZTF22aatrnbl,WISEA J150558.64-243847.8,226.49442,-24.64660,27.920716,28.931246,1.811666,NED,False,NULL,NULL,NULL
ZTF22aatrnbl,WISEA J150557.14-243852.7,226.48810,-24.64799,27.552946,29.324117,1.811666,NED,False,NULL,NULL,NULL
ZTF22aatrnbl,WISEA J150556.69-243751.7,226.48631,-24.63105,35.071772,33.635265,1.811666,NED,False,NULL,NULL,NULL
ZTF22aatrnbl,WISEA J150555.39-243842.5,226.48080,-24.64516,32.581574,34.031327,1.811666,NED,False,NULL,NULL,NULL
ZTF22aatrnbl,WISEA J150558.44-243751.8,226.49357,-24.63109,36.379586,34.569272,1.811666,NED,False,NULL,NULL,NULL

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatrnbl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

12 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '15:36:48.0793 -17:43:52.3723': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatrpse,WISEA J153648.07-174353.0,234.20032,-17.73141,1.133729,0.704594,0.434945,NED,False,NaN,NaN,NaN

11 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '14:10:50.2941 +63:21:56.7889': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatrujl,SDSS J141050.30+632156.8,212.709603,63.365779,2.401066,0.072427,2.46203,SDSSDR16,False,0.152865,0.035469,photoz

10 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatrzyq,SDSS J141909.14+102441.0,214.788095,10.411408,2.687939,0.229693,2.890468,SDSSDR16,True,0.078105,0.000009,specz

9 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '16:49:29.3936 +22:49:17.0779': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatsbjo,SDSS J164929.40+224916.7,252.372507,22.821329,1.39677,0.312795,1.17464,SDSSDR16,False,0.138089,0.038266,photoz

8 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '17:20:55.1261 +29:44:26.9002': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatsdyx,SDSS J172055.14+294426.4,260.229768,29.740685,3.177645,0.492974,2.895159,SDSSDR16,False,0.149418,0.024392,photoz

7 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatsfly,SDSS J174111.16+461446.6,265.296508,46.24628,2.213072,0.456695,1.760662,SDSSDR16,False,0.128017,0.01283,photoz

6 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '18:19:24.1608 +13:53:54.0118': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

WARNING: closest crossmatch is too far from the predicted position. No catalog crossmatches found.

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aattadv,WISEA J181923.89+135341.3,274.849620,13.894790,12.276437,13.284442,1.391275,NED,False,NULL,NULL,NULL
ZTF22aattadv,SDSS J181923.54+135405.3,274.848073,13.901493,15.899816,14.542024,1.391275,SDSSDR16,False,NULL,NULL,photoz
ZTF22aattadv,SDSS J181923.25+135346.1,274.846860,13.896158,15.390533,15.450948,1.391275,SDSSDR16,False,0.797957,0.060199,photoz
ZTF22aattadv,WISEA J181924.28+135420.3,274.851160,13.905670,27.679185,26.455730,1.391275,NED,False,NULL,NULL,NULL
ZTF22aattadv,SDSS J181922.45+135340.4,274.843548,13.894577,28.289248,28.330568,1.391275,SDSSDR16,False,0.100694,0.081001,photoz

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aattadv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aattzza,WISEA J185220.10+435453.4,283.08375,43.91481,1.436774,0.560704,1.179427,NED,False,0.092962,NaN,PHOT

4 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '21:43:19.1114 +5:34:51.4864': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatunnt,SDSS J214319.13+053451.0,325.829698,5.580847,1.443362,0.501268,1.353908,SDSSDR16,False,0.083412,0.032715,photoz

3 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '23:32:55.6172 +27:09:22.0255': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatuxpc,SDSS J233255.62+270921.3,353.231733,27.155923,2.776546,0.702978,3.119576,SDSSDR16,False,0.072873,0.029296,photoz

2 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatvbyz,SDSS J020004.38+084456.3,30.018236,8.748997,0.633893,0.298643,0.932202,SDSSDR16,False,0.126866,0.034842,photoz

1 candidates remaining

Box(children=(Aladin(fov=0.025, layout=Layout(width='70%'), options=['allow_full_zoomout', 'coo_frame', 'fov',â€¦

/home/fforster/anaconda3/lib/python3.8/site-packages/astroquery/simbad/core.py:135: UserWarning: Warning: The script line number 3 raised an error (recorded in the `errors` attribute of the result table): '21:46:41.5121 +84:00:29.8978': No astronomical object found :
  warnings.warn("Warning: The script line number %i raised "

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatvkqs,WISEA J214641.85+840030.0,326.67634,84.00794,2.209391,1.825568,1.580997,NED,False,NaN,NaN,NaN

0 candidates remaining


Summary of host galaxies:
Saving hosts to hosts/20220716_hosts.csv

,host_name,host_ra,host_dec,host_offset,host_offset_bestguess,bestguess_offset,host_source,host_redshift_spec,host_redshift,host_redshift_error,host_redshift_type
oid,,,,,,,,,,,
ZTF22aatvkqs,WISEA J214641.85+840030.0,326.67634,84.00794,2.209391,1.825568,1.580997,NED,False,NULL,NULL,NULL
ZTF22aatvbyz,SDSS J020004.38+084456.3,30.018236,8.748997,0.633893,0.298643,0.932202,SDSSDR16,False,0.126866,0.034842,photoz
ZTF22aatuxpc,SDSS J233255.62+270921.3,353.231733,27.155923,2.776546,0.702978,3.119576,SDSSDR16,False,0.072873,0.029296,photoz
ZTF22aatunnt,SDSS J214319.13+053451.0,325.829698,5.580847,1.443362,0.501268,1.353908,SDSSDR16,False,0.083412,0.032715,photoz
ZTF22aattzza,WISEA J185220.10+435453.4,283.08375,43.91481,1.436774,0.560704,1.179427,NED,False,0.092962,NULL,PHOT
ZTF22aattadv,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
ZTF22aatsfly,SDSS J174111.16+461446.6,265.296508,46.24628,2.213072,0.456695,1.760662,SDSSDR16,False,0.128017,0.01283,photoz
ZTF22aatsdyx,SDSS J172055.14+294426.4,260.229768,29.740685,3.177645,0.492974,2.895159,SDSSDR16,False,0.149418,0.024392,photoz
ZTF22aatsbjo,SDSS J164929.40+224916.7,252.372507,22.821329,1.39677,0.312795,1.17464,SDSSDR16,False,0.138089,0.038266,photoz
ZTF22aatrzyq,SDSS J141909.14+102441.0,214.788095,10.411408,2.687939,0.229693,2.890468,SDSSDR16,True,0.078105,0.000009,specz
ZTF22aatrujl,SDSS J141050.30+632156.8,212.709603,63.365779,2.401066,0.072427,2.46203,SDSSDR16,False,0.152865,0.035469,photoz
ZTF22aatrpse,WISEA J153648.07-174353.0,234.20032,-17.73141,1.133729,0.704594,0.434945,NED,False,NULL,NULL,NULL
ZTF22aatrnbl,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
ZTF22aatrbvj,SDSS J041157.97+255301.7,62.991536,25.883805,2.466045,0.150684,2.588424,SDSSDR16,False,0.171485,0.036822,photoz
ZTF22aatnyqk,NGC 6201,250.06006041666666,23.765328611111112,5.775937,0.397324,6.111666,Simbad,True,0.036199,0.000037,D
ZTF22aatlqxr,SDSS J162351.61+254253.8,245.965058,25.714957,3.070695,0.320908,3.050958,SDSSDR16,True,0.111711,0.000017,specz
ZTF22aatkeyf,SDSS J014604.19+071523.3,26.517452,7.256494,8.040609,0.317528,8.310296,SDSSDR16,False,0.064361,0.013219,photoz
ZTF22aatgjnu,SDSS J010327.70+132629.9,15.865417,13.441649,4.779461,0.536503,5.012349,SDSSDR16,False,0.058774,0.01084,photoz
ZTF22aatgiuw,SDSS J014141.16+012559.0,25.421502,1.433065,2.200036,0.79483,1.625845,SDSSDR16,False,0.042503,0.012772,photoz
ZTF22aasxnjm,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
ZTF22aasxgjp,SDSS J150913.16+523142.3,227.304839,52.528432,50.58539,1.973474,48.672158,SDSSDR16,True,0.011695,0.000008,specz
ZTF22aasvuof,MCG-02-57-009,337.5575887499999,-10.505261666666666,3.082659,0.733618,3.00576,Simbad,True,0.03537,NULL,D
ZTF22aarycqo,NGC 0662,26.14771,37.69578,6.244514,1.021242,5.408775,NED,True,0.01886,NULL,
ZTF22aapuazu,SDSS J010542.66-005320.8,16.42774,-0.889133,0.159994,0.225378,0.132016,SDSSDR16,False,0.143959,0.028953,photoz

Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv
Saving hosts to hosts/20220716_hosts.csv

## Do manual selections for errors

Errors could happen because of an error in DELIGHT or because the association favoured a more distant host with redshift.

In [ ]:
errors = []#"ZTF22aasxnjm", "ZTF22aatrnbl", "ZTF22aattadv"] #"ZTF22aaujkdb", "ZTF22aaveghe"]
# confirm if this was a problem with DELIGHT
#for oid in errors:
#    dclient.plot_host(oid)
# do manual selection
if errors != []:
    alerce.select_hosts(errors, refstring, ned=True, simbad=True, catsHTM=False, vizier=False, dobestguess=False)

## Manual modifications

In [ ]:
#oid = "ZTF21acbcfmh" #ZTF21abidhcz"
##oid = 'ZTF20aclzygy'#ZTF20acgigfo'
##oid = "ZTF20aaqrmxg" #"ZTF20aakdppm" #ZTF19acxrihd"
#oid = 'ZTF22aaajgss' #ZTF21aaryakx' #ZTF20acvbneg'
#alerce.candidate_hosts.host_name[oid] = "M31"
#alerce.candidate_hosts.host_ra[oid] = ""
#alerce.candidate_hosts.host_dec[oid] = ""
#alerce.candidate_hosts.host_offset[oid] = ""
#alerce.candidate_hosts.host_source[oid] = "CDS"
#alerce.candidate_hosts.host_redshift_spec[oid] = True
#alerce.candidate_hosts.host_redshift[oid] = = "0.001341"
#alerce.candidate_hosts.host_redshift_error[oid] = "0.000040"
#alerce.candidate_hosts.host_redshift_type[oid] = "specz"
# #"nan" #"0.041" #nan"
##for i in list(alerce.candidate_hosts):
##    alerce.candidate_hosts.loc['ZTF21aaryakx'][i] = "NULL"

## Save hosts

In [ ]:
alerce.candidate_hosts.to_csv("hosts/%s_hosts.csv" % refstring)
alerce.candidate_hosts.head(100)

## Show nearest sources (z < 0.01)

In [ ]:
zth = 0.1
nearest = pd.to_numeric(alerce.candidate_hosts.loc[alerce.candidate_hosts.host_redshift != "NULL"].host_redshift).sort_values()
nearest = nearest.loc[nearest < zth]
for i in ["https://alerce.online/object/%s %s" % (i, alerce.candidate_hosts.host_redshift.loc[i]) for i in nearest.index]:
    print(i)

# Prepare TNS report

## Sandbox or real

In [ ]:
sandbox = False #False # True: test in sandbox, False: send to real website

## Get API key and url

In [ ]:
if sandbox:
    print("Getting API sandbox key...")
    api_key = open("API_sandbox.key", "r").read()
    api_key = open("API.key", "r").read() # sandbox key appears not to be working
else:
    print("Getting API key...")
    api_key = open("API.key", "r").read()
    
if sandbox:
    url_tns_api = "https://sandbox.wis-tns.org/api" #"https://www.wis-tns.org/" #"https://sandbox-tns.weizmann.ac.il/api"
else:
    url_tns_api = "https://www.wis-tns.org/api" #"https://wis-tns.weizmann.ac.il/api" #"https://www.wis-tns.org/" #"https://wis-tns.weizmann.ac.il/api"
    
if not sandbox:
    print("WARNING: submitting to real (not sandbox) TNS website")

## Confirm reporter names

This is also used for Skyportal

In [ ]:
reporter = "F. Forster, F.E. Bauer, G. Pignata, A. Munoz-Arancibia, A. Mourao, R. Dastidar, L. Hernandez-Garcia, L. Galbany, E. Camacho, J. Silva-Farfan, J. Arredondo, G. Cabrera-Vives, R. Carrasco-Davis, P.A. Estevez, P. Huijse, E. Reyes, I. Reyes, P. Sanchez-Saez, C. Valenzuela, E. Castillo, D. Ruz-Mieres, D. Rodriguez-Mancini, M. Catelan, S. Eyheramendy, M.J. Graham on behalf of the ALeRCE broker"
#F. Forster, F.E. Bauer, A. Munoz-Arancibia, G. Pignata, L. Hernandez-Garcia, L. Galbany, E. Camacho, J. Silva-Farfan, A. Mourao, J. Arredondo, G. Cabrera-Vives, R. Carrasco-Davis, P.A. Estevez, P. Huijse, E. Reyes, I. Reyes, P. Sanchez-Saez, C. Valenzuela, E. Castillo, D. Ruz-Mieres, D. Rodriguez-Mancini, M. Catelan, S. Eyheramendy, M.J. Graham on behalf of the ALeRCE broker"

## Build the report

In [ ]:
# first author: the person submitting, 2nd author: those that vetoed, then everyone else
tns_report = {"at_report": {}}
counter = 0
for oid in candidates[::-1]: # invert to report old candidates first
    #if oid in ["ZTF20aauqmwf"]:#["ZTF19acgjpfd", "ZTF18acszatf", "ZTF18acrkmnm"]:
    #    continue
    #if oid in ["ZTF20acqnfkh ", "ZTF20acneabh"]:#ZTF20acplctd":#aamtgd": #ZTF19acymtgr": #ZTF19acnqqhl":#in ["ZTF19acmdwjy", "ZTF19acmdwjz"]:
    #    continue
    #if oid == "ZTF20ablnjwh": #ZTF20abkmxrm":#ZTF20abgfgne":
    #    continue
    if oid in ["ZTF22aabrskg"]: #ZTF21abgvidd"]: #ZTF21aawgsfp"]:#ZTF21aalcrjh"]: #ZTF21aaanwxo"]:#, ZTF20adadixi"]:# ZTF20acsggey"]:#, "ZTF20acmevcc", "ZTF20acmctng", "ZTF20acmdvzk"]: #== "ZTF20acgknep":#"ZTF20acdcdqq": #ZTF20acaehey": #ZTF20abyjoxb":#"ZTF20abqjddh":#ZTF20abkxqzv":#ZTF20abgbfyk":
        continue

    print("\n", counter, oid)
    sn_report = alerce.do_TNS_report(api_key, oid, reporter, verbose=False, test=False)
    if sn_report:# or oid == "ZTF20abyptpc":
        tns_report["at_report"]["%i" % counter] = sn_report
        counter += 1

## Manual modifications

In [ ]:
#report['at_report']['0']['remarks'] = "Fast rising transient (g-rise > 1.48 mag/day)"#report['at_report']['3']['remarks'] = 'Nova candidate in M31 (g-rise > 0.16+-0.01 mag/day, r-rise > 0.24+-0.01 mag/day) classified by ALeRCE using the public ZTF stream. Discovery image and light curve in http://alerce.online/object/ZTF19acxrihd '

In [ ]:
# note that the space at the end is necessary
#report['at_report']['3']['remarks'] = 'Nova candidate in M31 (r-rise > 0.43+-0.01 mag/day) classified by ALeRCE using the public ZTF stream. Discovery image and light curve in http://alerce.online/object/ZTF20acgigfo '

## Display report

In [ ]:
print(json.dumps(tns_report, indent=4, sort_keys=True))

## Look for fast risers

In [ ]:
for i in tns_report["at_report"]:
    if tns_report["at_report"][i]["remarks"][:5] == "Early":
        try:
            rise = float(re.findall("rise\s>\s(.*?)\+-.*?\smag", tns_report["at_report"][i]["remarks"])[0])
            if rise >= 0.25:
                print(tns_report["at_report"][i]["remarks"])
        except:
            rise = float(re.findall("rise\s>\s(.*?)\s", tns_report["at_report"][i]["remarks"])[0])
            if rise >= 0.25:
                print(tns_report["at_report"][i]["remarks"])

## Save report

In [ ]:
json_report = '%s/%s.json' % (candidates_dir, refstring)
with open(json_report, 'w') as outfile:
    json.dump(tns_report, outfile)

## Send to TNS

**WARNING: key is used to send candidates!**

In [ ]:
json_report

In [ ]:
r = alerce.send_json_report(api_key, url_tns_api, json_report)

## Show output

In [ ]:
r.content

## Show feedback

In [ ]:
# function for getting reply from report                             
def reply(url, report_id):                                           
    try:                                                               
        # url for getting report reply                                   
        reply_url=url+'/bulk-report-reply'                               
        # construct list of (key,value) pairs                                
        reply_data=[('api_key',(None, api_key)),                         
                    ('report_id',(None,report_id))]                      
        # send report ID using request module                            
        response=requests.post(reply_url, files=reply_data, headers=alerce.tns_headers)              
        # return response                                                
        return response                                                  
    except Exception as e:                                             
        return [None,'Error message : \n'+str(e)]

In [ ]:
try:
    feedback = reply(url_tns_api, r.json()["data"]["report_id"]).json()["data"]["feedback"]
    print(feedback)
except:
    print("Report not available, probably being processed. Please try again...")

## Check the following link and confirm that the latest SNe are from the reported day

https://www.wis-tns.org/search?&discovered_period_value=1&discovered_period_units=days&reporting_groupid[]=74&discovery_data_source_id=48&num_page=50&format=html&edit[type]=&edit[objname]=&edit[id]=&display[redshift]=1&display[hostname]=1&display[host_redshift]=1&display[source_group_name]=1&display[classifying_source_group_name]=1&display[discovering_instrument_name]=0&display[classifing_instrument_name]=0&display[programs_name]=0&display[internal_name]=1&display[isTNS_AT]=0&display[public]=1&display[end_pop_period]=0&display[spectra_count]=1&display[discoverymag]=1&display[discmagfilter]=1&display[discoverydate]=1&display[discoverer]=1&display[remarks]=0&display[sources]=0&display[bibcode]=0&display[ext_catalogs]=0&sort=desc&order=discoverydate

# Prepare SkyPortal report

In [ ]:
alerce.candidate_hosts = pd.read_csv("hosts/%s_hosts.csv" % refstring)
alerce.candidate_hosts.set_index("oid", inplace=True)
alerce.candidate_hosts.fillna("NULL", inplace=True)
alerce.candidate_hosts

## Load credentials

In [ ]:
skyportal_url = "http://desi2.lbl.gov:5000/api"
credentials_file = "credentials_skyportal.json"
with open(credentials_file) as jsonfile:
    params = json.load(jsonfile)
token = params["token"]

## Build the report

In [ ]:
skyportal_report = []
counter = 0
for oid in candidates[::-1]: # invert to report old candidates first
    if oid in ["ZTF21abkvttz"]: #ZTF21abhpdgd", "ZTF21abgtlir"]:
        continue
    print("\n", counter, oid)
    sn_report = alerce.do_skyportal_report(skyportal_url, token, oid, reporter, verbose=False, test=False)
    if sn_report:# or oid == "ZTF20abyptpc":
        skyportal_report.append(sn_report)
        counter += 1

## Save report

In [ ]:
with open('%s_skyportal.pickle' % refstring, 'wb') as handle:
    pickle.dump(skyportal_report, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('%s_skyportal.pickle' % refstring, 'rb') as handle:
    skyportal_report = pickle.load(handle)
    
display(skyportal_report)

## Submit to SkyPortal

In [ ]:
for report in skyportal_report:
    print(report["candidates"]["id"])
    alerce.send_skyportal_report(skyportal_url, token, report)

## Check SkyPortal

http://desi2.lbl.gov:5000/candidates