In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import time
from tqdm import tqdm
import pickle

In [2]:
class tns_scraping(object):
    
    def __init__(self):
        self.driver = webdriver.Chrome("/usr/lib/chromium-browser/chromedriver")
        
    def get_reporting_date(self, TNS_name):
        self.driver.get("https://wis-tns.weizmann.ac.il/object/"+str(TNS_name)+"/discovery-cert")
        content = self.driver.page_source
        soup = BeautifulSoup(content)
        text = soup.get_text()
        index = text.find('Date Received')
        size = 40
        full_date = soup.get_text()[index:index+size]
        date, time = full_date.split(" ")[-2:]
        return date, time

In [3]:
all_alerce = pd.read_pickle("all_alerce.pkl")
summary_alerce = pd.read_pickle("alerce_summary_tns.pkl")

In [4]:
all_alerce.columns

Index(['ID', 'Name', 'RA', 'DEC', 'Obj. Type', 'Redshift', 'Host Name',
       'Host Redshift', 'Reporting Group/s', 'Discovery Data Source/s',
       'Classifying Group/s', 'Associated Group/s', 'Disc. Internal Name',
       'Disc. Instrument/s', 'Class. Instrument/s', 'TNS AT', 'Public',
       'End Prop. Period', 'Discovery Mag/Flux', 'Discovery Filter',
       'Discovery Date (UT)', 'Sender', 'Remarks', 'Ext. catalog/s', 'url'],
      dtype='object')

In [5]:
all_alerce["Disc. Internal Name"]

0     ZTF20aaskdgf
1     ZTF20aasmgqk
2     ZTF20aasoaeu
3     ZTF20aaspdtp
4     ZTF20aaskbht
          ...
42    ZTF19abjklyz
43    ZTF19abjobyp
44    ZTF19abjppqv
45    ZTF19abjpqlc
46    ZTF19abjquxy
Name: Disc. Internal Name, Length: 2026, dtype: object

In [6]:
summary_alerce

,oid,nobs,dt,dt2,dmag,dt_fid,dmag_fid,first_mjd,first_det_mag,ra,dec,dt_first_max,dmag_first_max,mag_at_max,dmdt_fid
0,ZTF20aaskdgf,1,8.969768,NaN,0.314535,9.009305,0.528034,58913.141944,19.593266,67.270614,-12.543713,0.000000,0.000000,19.593266,0.058610
1,ZTF20aasmgqk,1,0.041782,NaN,1.305998,0.986863,1.561897,58913.276944,18.544903,162.499881,23.431558,0.000000,0.000000,18.544903,1.582688
2,ZTF20aasoaeu,1,13.047940,NaN,0.811230,21.090706,-0.403469,58913.424155,19.380569,187.632292,-17.220212,0.000000,0.000000,19.380569,-0.019130
3,ZTF20aaspdtp,1,0.960532,NaN,2.034286,1.001481,1.682087,58913.497350,18.730513,252.476105,53.946731,0.000000,0.000000,18.730513,1.679599
4,ZTF20aaskbht,1,7.998947,NaN,0.273787,7.998947,0.273787,58913.130289,19.187313,38.255634,21.328905,0.000000,0.000000,19.187313,0.034228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,ZTF19abjklyz,3,6.858507,9.953102,-0.542484,6.858507,-0.542484,58693.323009,20.741085,330.443201,29.849292,3.094595,0.365274,20.375811,-0.079097
2022,ZTF19abjobyp,1,2.937280,NaN,-0.100792,3.013194,-0.045492,58693.394329,20.273191,336.647484,-5.944884,0.000000,0.000000,20.273191,-0.015098
2023,ZTF19abjppqv,11,2.994062,5.975822,0.305964,2.994062,0.305964,58693.457072,19.898537,18.495533,-2.156206,10.042234,0.545441,19.353096,0.102190
2024,ZTF19abjpqlc,6,7.042199,12.015474,-2.207703,7.042199,-2.207703,58693.459965,20.039202,348.160126,-26.859484,15.021053,0.478817,19.560385,-0.313496
2025,ZTF19abjquxy,3,0.027651,3.010775,0.387482,3.057315,-0.379219,58693.482431,20.394218,27.867235,6.893229,2.983125,0.095623,20.298595,-0.124037

In [7]:
scraper = tns_scraping()

reporting_time = []
reporting_date = []

for ztf_name in tqdm(summary_alerce["oid"]):
    tns_name = all_alerce[all_alerce["Disc. Internal Name"]==ztf_name]
    tns_name = tns_name["Name"].values[0].split(" ")[-1]
    
    rep_date, rep_time = scraper.get_reporting_date(tns_name)
    reporting_time.append(rep_time)
    reporting_date.append(rep_date)
    
    time.sleep(np.random.uniform(low=0, high=3))

100%|██████████| 2026/2026 [1:10:00<00:00,  2.07s/it]

In [8]:
import pickle
pickle.dump({"reporting_time": reporting_time, "reporting_date": reporting_date},
           open("alerce_reporting_time.pkl", "wb"),
           protocol=2)

In [12]:
len(reporting_time), len(reporting_date)

(2026, 2026)

In [3]:
scraper = tns_scraping()

all_ztf = pd.read_pickle("all_ztf.pkl")
summary_ztf = pd.read_pickle("ztf_summary_tns.pkl")

In [4]:
len(all_ztf), len(summary_ztf)

(8375, 8183)

In [5]:
reporting_time = []
reporting_date = []

for ztf_name in tqdm(summary_ztf["oid"]):
    tns_name = all_ztf[all_ztf["Disc. Internal Name"]==ztf_name]
    tns_name = tns_name["Name"].values[0].split(" ")[-1]
    
    rep_date, rep_time = scraper.get_reporting_date(tns_name)
    reporting_time.append(rep_time)
    reporting_date.append(rep_date)
    
    time.sleep(np.random.uniform(low=0, high=3))
    

pickle.dump({"reporting_time": reporting_time, "reporting_date": reporting_date},
           open("ztf_reporting_time.pkl", "wb"),
           protocol=2)

100%|██████████| 8183/8183 [4:48:08<00:00,  2.11s/it]